.yg_div_card_300x400{
  width: 300px;
  height: 400px;
}
.yg_bg_lightgrey{
  background-color:lightgrey;
}
.yg_div_box_shadow_5_5_grey{
  box-shadow: 5px 5px 5px grey;
}
.yg_div_userlogin_box{
position: relative;
text-align:center;
margin:auto;
margin-top: 80px;
width:400px;
padding :20px;
height: auto;
border-width: 1px;
border-style: solid;
box-shadow:10px 10px 10px grey;
}


/*Button CSS*/
.yg_bt_grey{
  width:100px;
  height:40px;
  background-color:lightgrey;
}
.yg_bt_blue{
  width:100px !important;
  height:40px !important;
  border-color: inherit !important;
  background-color: #46BDC4 !important;
}
.yg_bt_hover_shadow:hover{
  box-shadow: 0 12px 12px 0 grey;
  padding:2px;
}
.yg_bt_hover_strong:hover{
  border-color: #349da3;
  box-shadow: inset 0 1px 0 0  #48BDC4;
}

/*background-color*/
.yg_bg_lightgreen{
background-color: lightgreen;
}

/*submit form*/
.yg_title_block{
display:block;
}
.yg_post_block{
display:block;
}
.yg_postform
{
  border-bottom:0px;
position:relative;
display:block;
margin:auto;
width:600px;
text-align:center;
box-shadow:5px 10px 15px 8px grey;
}
.yg_post_label{
width: 100%;
margin: 0;
padding:0;
background-color: lightgreen;
}
.yg_section_title{
height:40px;
width:100%;
line-height:150px;
margin:0;
padding:0;
border:0;
font-size:20px;
}
.yg_section_post{
height:200px;
width:100%;
text-align: left;
font-size:20px;
padding:0;
border:0;
resize:none;
}
