.yg_div_card_300x400{
  width: 300px;
  height: 400px;
}
.yg_bg_lightgrey{
  background-color:lightgrey;
}
.yg_div_box_shadow_5_5_grey{
  box-shadow: 5px 5px 5px grey;
}
.yg_div_userlogin_box{
position: relative;
text-align:center;
margin:auto;
margin-top: 80px;
width:400px;
padding :20px;
height: auto;
border-width: 1px;
border-style: solid;
box-shadow:10px 10px 10px grey;
}
.yg_bt_hover_black{
  width:100px;
  height:40px;
}
.yg_bt_hover_black:hover{
  box-shadow: 0 12px 16px 0 lightgrey;
  padding:2px;
}
.yg_bg_lightgreen{
background-color: lightgreen;
}
